<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>94765254176-9djmkdbmdkl7qm94kgpvb667ettu04vs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94765254176-9djmkdbmdkl7qm94kgpvb667ettu04vs</string>
	<key>API_KEY</key>
	<string>AIzaSyDcJ7kGtU_zvCPKVDFVTwTI14w7AvAO3H8</string>
	<key>GCM_SENDER_ID</key>
	<string>94765254176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>FFFSSS</string>
	<key>PROJECT_ID</key>
	<string>fffsss-3a0fc</string>
	<key>STORAGE_BUCKET</key>
	<string>fffsss-3a0fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94765254176:ios:74b4570381bce72e43de45</string>
</dict>
</plist>